<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Lighthouse"
            id="LighthouseUI">
      </category>
      <view
            name="Sample UI View"
            icon="icons/sample.gif"
            category="LighthouseUI"
            class="edu.uci.lighthouse.ui.views.SampleUIView"
            id="edu.uci.lighthouse.ui.views.SampleUIView">
      </view>
      <view
            category="LighthouseUI"
            class="edu.uci.lighthouse.ui.views.EmergingDesignView"
            id="LighthouseUI.EmergingDesignView"
            name="Emerging Design View"
            restorable="true">
      </view>
      <view
            category="LighthouseUI"
            class="edu.uci.lighthouse.ui.views.ImpactView"
            id="LighthouseUI.ImpactView"
            name="ImpactView"
            restorable="true">
      </view>
      <view
            category="LighthouseUI"
            class="edu.uci.lighthouse.ui.views.JDTView"
            id="LighthouseUI.jdtview"
            name="JDT View"
            restorable="true">
      </view>
      <view
            category="LighthouseUI"
            class="edu.uci.lighthouse.ui.views.EmergingDesignView2"
            id="LighthouseUI.EmergingDesignView2"
            name="EmergingDesignView2"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="edu.uci.lighthouse.ui.views.SampleUIView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.uci.lighthouse.perspectives.LighthousePerspectiveFactory"
            id="LighthouseUI.perspective1"
            name="Lighthouse Perspective">
      </perspective>
   </extension>

</plugin>
