<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="edu.uci.lighthouse.ui.figures.compartment" name="Lighthouse Figure Compartment" schema="schema/edu.uci.lighthouse.ui.figures.compartment.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Lighthouse"
            id="LighthouseUI">
      </category>
      <view
            category="LighthouseUI"
            class="edu.uci.lighthouse.ui.views.EmergingDesignView"
            id="LighthouseUI.EmergingDesignView"
            name="EmergingDesignView"
            restorable="true">
      </view>
      <view
            category="LighthouseUI"
            class="edu.uci.lighthouse.ui.views.HistoryView"
            id="LighthouseUI.HistoryView"
            name="HistoryView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="edu.uci.lighthouse.ui.views.SampleUIView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.uci.lighthouse.perspectives.LighthousePerspectiveFactory"
            id="LighthouseUI.perspective1"
            name="Lighthouse Perspective">
      </perspective>
   </extension>

</plugin>
