<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="edu.uci.lighthouse.ui.figures.compartment" name="Lighthouse Figure Compartment" schema="schema/edu.uci.lighthouse.ui.figures.compartment.exsd"/>
   <extension-point id="edu.uci.lighthouse.ui.views.actions.ContextMenuPlugin" name="Context Menu" schema="schema/edu.uci.lighthouse.ui.views.actions.ContextMenuPlugin.exsd"/>
   <extension-point id="edu.uci.lighthouse.views.ui.views.actions" name="Action Plugin" schema="schema/edu.uci.lighthouse.views.ui.views.actions.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Lighthouse"
            id="LighthouseUI">
      </category>
      <view
            category="LighthouseUI"
            class="edu.uci.lighthouse.ui.views.EmergingDesignView"
            id="LighthouseUI.EmergingDesignView"
            name="EmergingDesignView"
            restorable="true">
      </view>
      <view
            category="LighthouseUI"
            class="edu.uci.lighthouse.ui.views.SoftLockView"
            id="edu.uci.lighthouse.ui.views.SoftLockView"
            name="SoftLock View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
