<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.uci.lighthouse.ui.figures.compartment">
      <compartment
            class="edu.uci.lighthouse.lighthouseqandathreads.ThreadFigure">
      </compartment>
   </extension>
   <extension
         point="edu.uci.lighthouse.views.ui.views.actions.pluginactions">
      <lhAction
            class="edu.uci.lighthouse.lighthouseqandathreads.actions.extensions.ForumFilterAction">
      </lhAction>
   </extension>
   

   
      <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#CompilationUnitEditorContext"
            id="org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext">
         <action
               label="Add Question"
               class="edu.uci.lighthouse.lighthouseqandathreads.delegates.ContextMenuDelegate"
               menubarPath="additions"
               id="edu.uci.lighthouse.lighthouseqandathreads.delegates.ContextMenuDelegate">

         </action>
      </viewerContribution>
      
            <viewerContribution
            targetID="#CompilationUnitRulerContext"
            id="org.eclipse.jdt.ui.CompilationUnitEditor.RulerContext">
         <action
               label="Open Question Thread"
               class="edu.uci.lighthouse.lighthouseqandathreads.delegates.MarkerContextMenuDelegate"
               menubarPath="additions"
               id="edu.uci.lighthouse.lighthouseqandathreads.delegates.MarkerContextMenuDelegate">

         </action>
      </viewerContribution>
      
   </extension>
   
   <extension point="org.eclipse.core.resources.markers"
   id="customMarker" name="Custom Marker">
   <super type="org.eclipse.core.resources.bookmark" />
   <persistent value="true"/>
   </extension>
   
   <extension
   	point="org.eclipse.ui.ide.markerImageProviders">
   	<imageprovider
   		markertype="edu.uci.lighthouse.LighthouseQandAThreads.customMarker"
   		icon="/icons/question.png"
   		class="edu.uci.lighthouse.lighthouseqandathreads.markers.QuestionMarkerImageProvider"
   		id="edu.uci.lighthouse.LighthouseQandAThreads.imageprovider"
   		/>   	
   	</extension>
   	
</plugin>
