<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.uci.lighthouse.ui.figures.compartment">
      <compartment
            class="edu.uci.lighthouse.lighthouseqandathreads.ThreadFigure">
      </compartment>
   </extension>
   <extension
         point="edu.uci.lighthouse.views.ui.views.actions.pluginactions">
      <lhAction
            class="edu.uci.lighthouse.lighthouseqandathreads.actions.extensions.ForumFilterAction">
      </lhAction>
   </extension>
   <extension
         id="questionMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.bookmark">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
