<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.uci.lighthouse.core.preferences.LighthousePreferences"
            id="edu.uci.lighthouse.core.preferences"
            name="Lighthouse">
      </page>
      <page
            category="edu.uci.lighthouse.core.preferences"
            class="edu.uci.lighthouse.core.preferences.DatabasePreferences"
            id="edu.uci.lighthouse.core.preferences.database"
            name="Database">
      </page>
      <page
            category="edu.uci.lighthouse.core.preferences"
            class="edu.uci.lighthouse.core.preferences.UserPreferences"
            id="edu.uci.lighthouse.core.preferences.user"
            name="User">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               id="edu.uci.lighthouse.core.menu.root"
               label="Lighthouse">
            <command
                  commandId="edu.uci.lighthouse.core.project.import"
                  id="edu.uci.lighthouse.core.import"
                  label="Share Project..."
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <adapt
                              type="org.eclipse.jdt.core.IJavaProject">
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <group
            id="edu.uci.lighthouse.core.group.status"
            separatorsVisible="true">
         <location>
            <bar
                  type="trim">
            </bar>
            <order
                  position="before"
                  relativeTo="status">
            </order>
         </location>
      </group>
      <widget
            class="edu.uci.lighthouse.core.widgets.StatusWidget"
            id="edu.uci.lighthouse.core.widgets.status">
         <location>
            <bar
                  path="edu.uci.lighthouse.core.group.status"
                  type="trim">
            </bar>
         </location>
      </widget>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="edu.uci.lighthouse.core.project.import"
            name="Import">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup></startup>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="edu.uci.lighthouse.core.decorators.LighthouseProjectLabelDecorator"
            id="edu.uci.lighthouse.decorators.project"
            label="Lighthouse"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IProject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="edu.uci.lighthouse.core.commands.ProjectPropertyTester"
            id="edu.uci.lighthouse.core.expressions.project"
            namespace="edu.uci.lighthouse.core.testers.project"
            properties="isImported"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.uci.lighthouse.core.commands.ImportHandler"
            commandId="edu.uci.lighthouse.core.project.import">
         <activeWhen>
            <with
                  variable="activeMenuSelection">
               <test
                     forcePluginActivation="true"
                     property="edu.uci.lighthouse.core.testers.project.isImported">
               </test>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
